
<h2>Authors</h2>
{{#get "users" limit="all" include="count.posts"}}
    {{#foreach users}}
        {{#if count.posts}}
        <h5><img src="{{image}}" width="64px">
            <a href="{{url}}">{{name}}</a></h5>
            {{/if}}

    {{/foreach}}
{{/get}}
