
<!-- DISQUS SUPPORT-->
<div id="disqus_thread"></div>
<script src="{{asset "js/disqus.js"}}"></script>

<!-- START: Livefyre Embed -->
<div id="livefyre-comments"></div>
<script type="text/javascript" src="http://zor.livefyre.com/wjs/v3.0/javascripts/livefyre.js"></script>
<script src="{{asset "js/livefyre.js"}}"></script>
