<div class="center-block recent-posts">
<h2>Featured</h2>
    {{#get "posts" filter="featured:true" limit="15" as |recentPosts|}}
        {{#foreach recentPosts as |recent|}}
        <h5>
           <a href="{{url}}">{{title}}</a>
        </h5>
        {{/foreach}}
    {{/get}}
    </ul>
</div>
