
<div class="center-block tag-cloud">
<h2>Tags</h2>
    
{{#get "tags" limit="all" filter="name:-carousel+name:-sidebar" include="count.posts" 
              order="count.posts desc"}}
    {{#foreach tags}}
        <span class="tag-count-{{count.posts}}">
            <a href="/tag/{{slug}}">{{name}}</a> ({{count.posts}})
        </span>
    {{/foreach}}
{{/get}}
</div>
