{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}


{{! The main content area on the homepage }}
<div class="container marketing">
    <!-- Image -->
    {{#if @blog.cover}}
        <div class="image-header">
            <img class="center-block" src="{{@blog.cover}}" alt="{{title}}" height="100%">
        </div>
    {{/if}}
    
    <div class="row">   
        {{! The tag below includes the post loop - partials/loop.hbs }}
        {{> "loop"}}
    </div>
    
    <div class="blog-footer">

    </div>
</div>
