{{!< default}}
{{! The comment above "< default" means - insert everything in this file into the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}
{{! The main content area on the homepage }}

<article class="container-fluid marketing {{post_class}}">
    {{! The big featured header }}
    
    <header class="post-header row ">
        <div class="post_header image-header"{{#if image}} 
            style="background-image: url({{image}})"{{/if}}>
       </div>
    </header>
    
    <div class="blog-main row">
        <section class="col-md-8 blog-articles">
            <div class="text-center">
            <h2 class="post-title">{{title}}</h2>
            <br />
            </div>
            {{content}}
        </section>

        <aside class="col-md-4 blog-aside hidden-xs hidden-sm">
            <section>
                {{> "contact"}}
            </section>
        </aside>

    </div>
</article>
{{/post}}